<footer>
                <div class="row">
    <div class="col-lg-12">

        <ul class="list-unstyled">
            <li class="pull-right"><a href="#top">Back to top</a></li>
        </ul>


    </div>
</div>

<hr>
<div>
    <small>Bitcoinrates.in does not recommend for or against any exchange, the sole purpose of Bitcoinrates.in is to display the bitcoin rates from all bitcoin exchanges available in India. Users must understand the risks of trading and do their due diligence before trading on any exchange.</small></div><hr>
<div class="text-center">Contact : bitcoinratesindia@gmail.com <br>Donate: 131Gw1aNMh1rKsFe3JdbHk5VXDRDHzr2J8</div>
            </footer>