

{% include 'base.html.twig' %} 
{% include 'AcmeBitcoinBundle:Bitcoin:bitcoinheader.html.twig' %}
<div class="bannerdiv">
    {#<center><a href="https://www.unocoin.com/coupons?couponcode=RATES200&amp;utm_source=bitcoinrates.in&amp;utm_medium=banner&amp;utm_campaign=bookmyshow" target="_blank"><img src="{{ asset ('images/banner5.gif') }}" class="img-responsive" alt="banner"></a>    </center>
#}
</div>
{#<div class="height300">
                            <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Alert</th>
                            <th>Status</th>
                            <th>Change Status</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td><strong>Buypricefees</strong>: -0.01 at Coinsecure</td><td>Active</td><td><form method="post"><input type="hidden" name="status" value="inactive"><button type="submit" name="changestatus" value="101" class="btn btn-default">Inactive</button></form></td><td><form method="post"><button name="delete" value="101" type="submit" class="btn btn-danger">Delete</button></form></td></tr>                 
                    </tbody>
                </table> 
                        </div>#}
               {% include 'AcmeBitcoinBundle:Bitcoin:bitcoinfooter.html.twig' %} 